.DS_Store
*.pyc
*.egg-info
*.swp
tags
posnext/docs/current
posnext/public/dist
node_modules/
cypress/videos
cypress/screenshots
posnext/public/node_modules

# Package management is managed by bench
yarn.lock

# Docs
docs/.vitepress/dist
docs/.vitepress/cache