# Ignore vitepress dist files
www/posnext_*.py
www/404.py
www/posnext_*.html
www/404.html
www/hashmap.json
www/vp-icons.css
www/assets
public/app.*.js
public/posnext_*.js
public/style.*.css
public/chunks